* {
  margin: 0;
  padding: 0;
  box-sizing: border-box
}

body {}

.face-space {
  display: grid;
  place-content: center;
}

.face {
  height: 80px;
  margin-bottom: -14px;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

input {
  width: 320px;
  padding: 12px 10px;
  font-size: 16px;
  margin-bottom: 12px;
  background-color: whitesmoke;
  border-radius: 3px;
  border: 0.5px solid lightgray;
  box-shadow: 0px 0.5px 1px lightgray;
}

.login {
  width: 320px;
  padding: 11px 2px;
  border: none;
  background-color: #0080ff;
  color: white;
  border-radius: 4px;
  font-size: 18px;
  font-weight: 600;
  text-shadow: 0px -.7px 1px black;
}

.create {
  width: 180px;
  padding: 12px 2px;
  border: none;
  background-color: #00b300;
  color: white;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 600;
  text-shadow: 0px -.7px 1px black;
}

input:focus {
  outline: 1px solid black;
}

.forget {
  text-decoration: none;
  margin-top: 14px;
  color: #0066cc;
}

.or {
  background-color: white;
  border-radius: 100px;
  padding: 16px 18px;
  margin: 2px;
  position: relative;
  z-index: 1;
}

.hp {
  position: absolute;
  top: 273px;
  opacity: .5;
}

hr {
  width: 320px;

}

.login:hover,
.create:hover {
  opacity: .6;
}

.create:hover {
  box-shadow: inset 0px 1px 2px black;
}
.log {
  display:flex;
  width:320px;
}


 .log:focus {
  width:260px;
  margin-right: 1px;
} */
  .log:focus ~ #sh {
    display:block;
  }

.logout {
  display:flex;
  width:320px;
}
